/supabase/.temp/cli-latest
/supabase/.temp/gotrue-version
/supabase/.temp/pooler-url
/supabase/.temp/postgres-version
/supabase/.temp/rest-version
/supabase/.temp/project-ref
/supabase/.temp/storage-version
/supabase/.branches/_current_branch
