<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>756534898256-fosr27pvc565ollnpbs8afbnsdj4h4sh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.756534898256-fosr27pvc565ollnpbs8afbnsdj4h4sh</string>
	<key>API_KEY</key>
	<string>AIzaSyAxGcRKidKkzzyMK5Agk6j4D7BBKNrVWxE</string>
	<key>GCM_SENDER_ID</key>
	<string>756534898256</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ipbc.ipbcPalmas</string>
	<key>PROJECT_ID</key>
	<string>ipbc-palmas</string>
	<key>STORAGE_BUCKET</key>
	<string>ipbc-palmas.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:756534898256:ios:fdf20a29e39470fcaf2b55</string>
</dict>
</plist>